// Place all the styles related to the therapy_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color:rgb(249, 252, 252);
    color: #333;
    font-family: Sans-Serif;
    line-height: 30px;
    text-align: center;
}